In [1]:
from lib.env.global_var import *
from lib.func.shelve_store import *
from lib.func.top_sector import *
import pandas as pd
import numpy as np

In [5]:
print shelve_dir
top_sector = retrieve_variable(shelve_dir, 'top_sector')

C:/Users/globa/Documents/Investible-Stocks-Selection/tmp/shelve.out
Retrieved Successfully

In [6]:
top_sector.head(10)

,IDU US Equity,IYE US Equity,IYF US Equity,IYJ US Equity,IYK US Equity,IYM US Equity,IYW US Equity,IYZ US Equity
2000-08-31,True,False,False,True,False,False,True,False
2000-09-29,True,True,True,False,False,False,False,False
2000-10-31,False,False,False,False,True,True,False,True
2000-11-30,True,False,False,False,True,True,False,False
2000-12-29,False,True,True,False,False,True,False,False
2001-01-31,False,False,False,True,False,False,True,True
2001-02-28,True,True,False,False,True,False,False,False
2001-03-30,True,True,True,False,False,False,False,False
2001-04-30,False,True,False,True,False,False,True,False
2001-05-31,False,False,True,False,True,True,False,False

In [ ]:
folder_dir_str = data_path
econ_dir_str = econ_data_path

BENCHMARK = "benchmark_data.xlsx" # benchmark for 9 sectors

#Customer Price Index Growth, Customer Sentimental, Government 10-y interest rate, 
#Fed Fund rate, Gross Domestic Products, Home Price Indices, Net Expenditures, Options-Adjusted Spread,
#Payroll, Consumption Expenditures, Recession probability, Counterparty Credit Risk,
#Unemployment rate, SP500 Volatility
var_list = ['CPI','CSENT', 'DGS10', 'FEDFUNDS', 'GDP', 'HPI', 'NETEXP', 'OAS', 'PAYEMS',
          'PCE', 'RECESSION', 'TEDRATE', 'UNRATE', 'VIXCLS']

In [ ]:
def quaterly_to_monthly(df):
    # if the index is not pd.DatetimeIndex, convert it
    if type(df.index) != pd.DatetimeIndex:
        df.index = pd.DatetimeIndex(df.index)
        
    resampled_df = df.resample("M").last()
    for int_index in range(len(resampled_df)):
        value = resampled_df.iloc[int_index,:].values[0]
        if not np.isnan(value):
            # copy quater data
            previouse_quater = value
            quater_index = 1
        if np.isnan(value) and quater_index ==1:
            # filling first value
            resampled_df.iloc[int_index,:] = previouse_quater
            quater_index += 1
        if np.isnan(value) and quater_index ==2:
            # filling the second value
            resampled_df.iloc[int_index,:] = previouse_quater
            quater_index = 1
    return(resampled_df)

In [ ]:
# return time series of the input file
def read_format_csv(filename, filepath, varname='VAR'):
    dat_csv = pd.read_csv(filepath+filename)
    map(str, dat_csv.columns)
    dat_csv.columns = ['DATE', varname]
    dat_dte = dat_csv.loc[:, 'DATE']
    dat_csv.index = dat_dte.values
    
    dat_csv = (dat_csv.loc[:, [varname]].replace('.',0)).astype(float)
    return dat_csv

In [ ]:
#merge benchmark data time series with all fundamentals
def get_bm_fundamental_ts(benchmark, var_list):
    for var in var_list:
        var_file_name = var +'.csv'
        tmp = read_format_csv(var_file_name, econ_dir_str, var)
        exec(var+"_ts = tmp")
        
    for var in ['CPI', 'GDP', 'NETEXP']:
        exec("tmp ="+var+"_ts")
        filltmp = quaterly_to_monthly(tmp)
        exec(var+"_ts = filltmp")
        
    ts_df = benchmark
    for var in var_list:
        exec('tmp_csv = '+var+'_ts')
        tmp_csv.index = pd.DatetimeIndex(tmp_csv.index)
        tmp_concat = pd.concat([ts_df, tmp_csv], 1)
        tmp_concat = tmp_concat.resample("M").last()
        ts_df = tmp_concat.loc[ts_df.index[0]:tmp_csv.index[-1], :]

    return ts_df

In [ ]:
numInd = len(top_sector.columns)
for ind in range(numInd):
    bm = top_sector.iloc[:,[ind]]
    bm_res = bm.resample("M").last()
    
    tmp = get_bm_fundamental_ts(bm_res, var_list)
    bmname = bm.columns[0].replace(" ", "_")
    exec(bmname+'_df = tmp')

In [ ]:
top_sector.iloc[:,[0]].columns[0].replace(" ", "_")+'_df'

In [ ]:
IDU_US_Equity_df.tail(10)

In [ ]:
N = len(top_sector.columns)
for i in range(N):
    str = top_sector.iloc[:,[i]].columns[0]
    bm_df_name = str.replace(" ", "_")+'_df'
    print(bm_df_name +' = ' + bm_df_name + '.dropna(axis=0, how="any")')
    exec(bm_df_name +' = ' + bm_df_name + '.dropna(axis=0, how="any")')

Scaled Data Preprocessing

In [ ]:
from sklearn import preprocessing
selected_bm = IYW_US_Equity_df
attributes = selected_bm.iloc[:,1:].columns
data_scaled = preprocessing.scale(selected_bm.iloc[:,1:].values, axis = 0)
data_scaled
data_scaled = pd.DataFrame(data_scaled, columns = attributes)
data_scaled

In [ ]:
data_timestamp = selected_bm.index
data_timestamp

In [ ]:
data_target = pd.to_numeric(selected_bm.iloc[:,0].values)
data_target

Logistic Regression

In [ ]:
from sklearn import linear_model
logreg = linear_model.LogisticRegression(C=1e5, multi_class = 'ovr')
N_train = len(data_target)*3/4

Y = data_target[0:N_train]
X = data_scaled.iloc[0:N_train,:]
#X = data_scaled.iloc[0:N_train,:].shift()/data_scaled.iloc[0:N_train,:]-1
#X = X.dropna()
#Y = Y[1:]

logreg.fit(X, Y)

Benchmark Attributes

In [ ]:
print(pd.DataFrame(logreg.coef_, columns = attributes))

In [ ]:
X_test = data_scaled.iloc[N_train:,:]
#X_test = data_scaled.iloc[N_train:,:].shift()/data_scaled.iloc[N_train:,:]-1
#X_test = X_test.dropna()

y_test = logreg.predict(X_test)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(15,5))
plt.plot(Y,'r-',alpha =0.7)
plt.plot(np.concatenate([np.repeat(np.nan,len(Y)),y_test]),'b--')
plt.plot(np.concatenate([np.repeat(np.nan,len(Y)),data_target[N_train:]]), 'g-')
plt.show()

In [ ]:
comparison_df = pd.concat([pd.DataFrame(y_test,columns=['y_test']),pd.DataFrame(data_target[N_train:],columns = ['real'])],1).dropna()
score_df = pd.DataFrame(map(lambda x: x[0]==x[1],comparison_df.values))*1
score = np.mean(score_df)

print("prediction rate: ",np.round(score.values[0]*100,3),"%")